
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color:#2591A8;
  }
  
  html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  }

  p{
  text-align: right;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  }

  div#yn {
  display: flex;
   flex-direction: column;
 }

 .ynbuttons{
 background-color: white;
 border-style: outset;
 border-color: #50BABA;
 cursor: pointer;
 margin-top: 15px;
 border-radius: 20px;
 font-size: 20px;
 cursor: pointer;
 padding: 6px 8px;
 border-width: thin;
 width: 40%;
 }

 .ynbuttons:hover {
 border: none;
 color: white;
 background-color: #2591A8;

 }
  
  h{
  color: white;
  text-align: left;
  font-size: 35px;
  bottom: 45px;
  left: 20px;
  position:relative;
  }
  header{
  text-align: left;
  }
  a{
  color: #FF4040;
  text-decoration: none;
  }
  
  li{
  color: white;
  }
  
  #modeButton{
  margin-left: 90%;
  }
  
  #canclbtn{
  position: absolute;
  left: 15px;
  top: 20px;
  width: 5%;
  }

  #canclrate{
  position: absolute;
  left: -10px;
  top: -5px;
  width: 7%;
  }
  
  .uppernav {
  border-color: #3DA8A8;
  background-color: #50BABA;
  height: auto;
  border-style: solid;
  border: 90%;
  padding: 1.5%;
  margin: 1%;
  }
  
  .uppernav > li {
    display: inline-block;
    margin-left: 4em;
    margin-right: 4em;
  }
  
  .uppernav > li:before {
    content: "\200B"; /* 1 */
    position: absolute; /* 2 */
  }
  
  
  .dark-mode {
   background-color: #4b5c5a;
  }
  
  .dark-mode .uppernav{
  background-color: #0c70b3;
  border-color: black;
  }
  
  .dark-mode .chat-button{
  background-color: #0c70b3;
  }
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
       /* welcoming message */
    .notficationBox {
      position: sticky;
      width: 220px;
      margin-right:6em;
      margin-left:75%;
      padding:8px;
      background: white;
      text-align: center;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      font-weight: 900;
      color: black;
      font-family: arial;
    }

.welcoming__message:before {
  content: "";
  width: 0px;
  height: 0px;
  margin-bottom:1%;
  position: absolute;
  border-left: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid white;
  border-top: 10px solid white;
  border-bottom: 10px solid transparent;
  right: 40%;
  bottom: -19px;
}
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 40px;
    padding: 8px 12px;
    position: absolute;
    bottom: 80px;
    width: 100%;
    text-align: center;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  footer{
  border-top-style:solid;
  border-color: #3DA8A8;
  color: white;
  text-align: center;
  padding: 1%;
  margin: 7%;
  }
  
  
  /* CHATBOX
  =============== */
  .chatbox {
      position: absolute;
      bottom: 40px;
      right: 40px;
  }
  
  /* CONTENT IS CLOSE */
  .chatbox__support {
  
      background: #eee;
      z-index: -123456;
      opacity: 0;
      transition: all .5s ease-in-out;
       display: flex;
      flex-direction: column;
      position: absolute;
      width: 400px;
      left: auto;
      transform: none;
      bottom: 10px;
      right: 10px;
      max-height: 620px;
      height: calc(100vh - 160px)
  }
  
  /* CONTENT ISOPEN */
  .chatbox--active {
      transform: translateY(-40px);
      z-index: 123456;
      opacity: 1;
  
  }
  
  
  .send__button {
  
      padding: 10px;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      background: white;
      border-radius: 100px;
      float: left;
      border-style: outset;
      border-color: #50BABA;
      cursor: pointer;
      border-width: thin;
  }

   .rate__button {
  padding: 10px;
      margin-right: 0px;
      margin-left: 10px;
      margin-bottom: 10px;
      background: white;
      border-radius: 100px;
      float: left;
      border-style: outset;
      border-color: #50BABA;
      cursor: pointer;
      border-width: thin;
      font-family: monospace;
  }


  
  input#textbox {
  font-size: 15px;
  }
  
  input::-webkit-input-placeholder {
      font-size: 16px;
      line-height: 3;
  }
  
  .send__button:hover {
   border: none;
 color: white;
 background-color: #2591A8;
  }

    .rate__button:hover {
   border: none;
 color: white;
 background-color: #2591A8;
  }
  
  /* HEADER */
  
  
  img#farida {
      position: absolute;
      top: 10px;
      right: 15px;
  }
  
  h3#n {
  position: absolute;
  font-size: 17px;
      top: 7px;
      right: 70px;
      font-family: "Monaco", "Courier New", monospace;
  }
  
  .chatbox__rate--header{
  display: block;
    margin-left: auto;
    margin-right: auto;
     padding: 0;
  margin: 0;
  width: 100px;
  }
  
  .dropdown-content{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #ebebeb;
  opacity: 0.9;
  height: 100px;
  width: 180px;
  }

.ratebtn {
  padding: 0;
position: relative;
right: 0px;
cursor: pointer;
width: 35px;
margin-bottom: 10px;
margin-left: 10px;
  }
  
  /* MESSAGES */
  .chatbox__messages {
      margin-top: auto;
      display: flex;
      overflow-y: scroll;
      flex-direction: column-reverse;
  }
  
  .messages__item {
      background: orange;
      max-width: 60.6%;
      width: fit-content;
  }
  
  .messages__item--operator {
      margin-left: auto;
      background-color: white;
  }
  
  .messages__item--visitor {
   background-color: white;
      margin-right: auto;
  }
  
  /* FOOTER */
  .chatbox__footer {
      position: sticky;
      bottom: 0;
  }
  
  .chatbox__support {
      background: #f9f9f9;
      height: 450px;
      width: 350px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
  }
  
  /* HEADER */
  .chatbox__header {
      background-color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 30px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      height: 8px;
  }
  
  .chatbox__image--header {
      margin-right: 10px;
  }
  
  .chatbox__heading--header {
      font-size: 1.2rem;
      color: white;
  }
  
  .chatbox__description--header {
      font-size: .9rem;
      color: white;
  }
  
  /* Messages */
  .chatbox__messages {
      padding: 0 20px;
  }
  
  .messages__item {
      margin-top: 10px;
      background: #E0E0E0;
      padding: 8px 12px;
      max-width: 70%;
  }
  
  .messages__item--visitor,
  .messages__item--typing {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
       background: light gray;
      color: black;
  }
  
  /*sender msg*/
  .messages__item--operator {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      background: #2591A8;
      color: white;
  }
  
  /* FOOTER */
  .chatbox__footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 20px 20px 2px 2px;
      background-color: white;
      box-shadow: var(--secondaryBoxShadow);
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      margin-top: 10px;
  }
  
  .chatbox__footer input {
      width: 90%;
      padding: 20px 20px;
      text-align: right;
      float: right;
      right: 100%;
      border-style: hidden;
      border-color: #50BABA;
  }
  
  .chatbox__footer input:focus {
  outline: none;
  }
  
  
  .chatbox__send--footer {
      color: white;
  }
  
  
  .chat-button{
  float: right;
  margin-right:1em;
  border: 2px solid #555;
  background: #D8D5D5;
  border-radius: 100px;
  position: sticky;
  
  }
  
  /*LOADING*/
  .chat-bubble {
    
    padding:16px 28px;
    -webkit-border-radius: 20px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius: 20px;
    -moz-border-radius-bottomleft: 2px;
    border-radius: 20px;
    border-bottom-left-radius: 2px;
    display:inline-block;
  }
  .typing {
    align-items: center;
    display: flex;
    height: 17px;
  }
  .typing .dot {
    animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
    background-color: #6CAD96 ; //rgba(20,105,69,.7);
    border-radius: 50%;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
    display: inline-block;
  }
  .typing .dot:nth-child(1) {
    animation-delay: 200ms;
  }
  .typing .dot:nth-child(2) {
    animation-delay: 300ms;
  }
  .typing .dot:nth-child(3) {
    animation-delay: 400ms;
  }
  .typing .dot:last-child {
    margin-right: 0;
  }
  
  @keyframes mercuryTypingAnimation {
    0% {
      transform: translateY(0px);
      background-color:#6CAD96; // rgba(20,105,69,.7);
    }
    28% {
      transform: translateY(-7px);
      background-color:#9ECAB9; //rgba(20,105,69,.4);
    }
    44% {
      transform: translateY(0px);
      background-color: #B5D9CB; //rgba(20,105,69,.2);
    }
  }
  
  /*rating stars*/
  .rate {
      float: left;
      height: 46px;
      padding: 10px;
  
  
  }
  .rate:not(:checked) > input {
      position:absolute;
      top:-9999px;
  }
  .rate:not(:checked) > label {
      float:left;
      width:1em;
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:30px;
      color:#ccc;
  }
  .rate:not(:checked) > label:before {
      content: '★ ';
  }
  .rate > input:checked ~ label {
      color: #ffc700;
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
      color: #deb217;
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
      color: #c59b08;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .show {display: block;}